<div class="row">
	<div class="col-md-offset-4 col-md-4 ">
		<div class="panel panel-default">
  			<div class="panel-heading">Login</div>
  				<div class="panel-body">
  					<form>
	  					<div class="form-group">
	    					<label for="name">Name</label>
	    					<input type="text" class="form-control" id="name" placeholder="Name">
	  					</div>
  						<div class="form-group">
	    					<label for="password">Password</label>
	    					<input type="text" class="form-control" id="password" placeholder="Password">
	  					</div>
    					<button type="submit" class="btn btn-primary form-control" routerLink="/todo-list">LogIn</button>
  					</form>
  				</div>
		</div>
	</div>
</div>